nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0);
}
.navlink:link {
  color: rgb(100, 100, 100);
  text-shadow: 4000px 0px 0 black, -4000px 0px 0 black;
  transition: color 0.25s;
  transition: text-shadow 1.5s cubic-bezier(1, 0, 0, 1);
  text-decoration: none;
}
.navlink:hover {
  color: rgb(225, 225, 225);
  text-shadow: 0px 0px 2px black, 0px 0px 2px black;
}
html {
  background: linear-gradient(#000000, #07074a);
}
