nav {
  width: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
}
.navlink:link {
  color: rgb(25, 75, 255);
  text-shadow: 10000000px 0px 0 black;
  transition: color 0.25s;
  transition: text-shadow 1.5s;
}
.navlink:hover {
  color: rgb(50, 150, 255);
  text-shadow: 1px 0px 0 black;
}
