ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #000000;
}
li {
}
li a {
	display: block;
	padding: 8px;
	color: #00a86b;
	display: inline;
	width: 150px;
	height: 50px;
}
li a:hover {
	background-color: #555555;
}
li a:active {
	background-color: #AAAAAA;
}
