ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #FFF;
}
li {
}
li a {
	display: block;
	padding: 8px;
	color: #00a86b;
	display: inline;
	width: 150px;
}
li a:active {
	background-color: #DDD;
}
