table {
	border-collapse: collapse;
}
table tr td a {
	display: block;
	padding: 8px;
	color: #00a86b;
	width: 55px;
	height: 13px;
	background-color: #000000;
	line-height: 10px;
}
table tr td a:hover {
	background-color: #555555;
}
table tr td a:active {
	background-color: #AAAAAA;
}
#header marquee {
	color: #FFFFFF;
}
#header {
	background-color: #000000;
	border: 6px solid #c2ddf7;
}
