section {
  border: 1px #000000 dashed;
  text-align: center;
  margin-top: 20px;
  color: #FFFFFF;
}
a {
  text-decoration: none;
  color: #929292;
}
a:hover {
  color: #585858; 
    
}
img {
  border: 5px #cc0000;
}
html {
  background-color: #572200;
  border: 3px dotted #cc0000;
}
.button {
  border: 3px #cc0000 solid;
  background-color: #00ffff;
  color: #cc0000;
  text-align: center;
  height: 20px;
  width: 50px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.button:hover {
  background-color: #00B2B2;
  margin: 3px 0px 0px 1px;
  box-shadow: 1px 2px 2px;
}
#newscasttitle {
  font-size: 20px;
  color: #FFFFFF;
}
div {
  color: #d1d1d1;
}
li:hover {
  color: #FFFFFF;
}
#newscasttitle:hover {
  color: #929292;
}
#button_game {
  border: 3px #cc0000 solid;
  background-color: #00ffff;
  color: #cc0000;
  margin: auto;
  text-align: center;
  height: 20px;
  width: 100%;
  border-radius: 3px;
}
#button_game:hover {
  background-color: #00B2B2;
}

#button_gamex3 {
  border: 3px #cc0000 solid;
  background-color: #00ffff;
  color: #cc0000;
  margin: auto;
  text-align: center;
  height: 20px;
  width: 33.3333333333333333%;
  border-radius: 3px;
}
#button_gamex3:hover {
  background-color: #00B2B2;
}
#button_gamex2 {
  border: 3px #cc0000 solid;
  background-color: #00ffff;
  color: #cc0000;
  margin: auto;
  text-align: center;
  height: 20px;
  width: 50%;
  border-radius: 3px;
}
#button_gamex2:hover {
  background-color: #00B2B2;
}
ul {
  	list-style-type: none;
}
