#mainpart {
  border: 1px #000000 dashed;
  text-align: center;
  margin: auto;
  color: #FFFFFF;
}
a {
  text-decoration: none;
  color: #ff0000;
}
img {
  border: 5px #cc0000;
}
html {
  background-color: #8C3800;
}
#button {
  border: 3px #cc0000 solid;
  background-color: #00ffff;
  color: #cc0000;
  margin: 0px 5px 0px 5px;
  text-align: center;
  height: 20px;
  width: 50px;
  border-radius: 3px;
}
#newscasttitle {
  font-size: 20px;
  color: #FFFFFF;
}
