#navbar {
  text-align: center;
  margin: auto;
  border: 5px #cc0000 solid;
  background-color: #0000;
}
#mainpart {
  border: 1px #000000 dashed;
  text-align: center;
  margin: auto;
  color: #0000;
}
a {
  text-decoration: none;
  color: #ffffff;
}
img {
  border: 5px #cc0000;
  text-align: center;
}
html {
  background-color: #8C3800;
}
