html {
	font-family: 'Open Sans', sans-serif;
}
#main {
	background-image: url('assets/background.png');
	background-attachment: fixed;
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
}
a, a:active, a:hover, a:visited {
	font-style: normal;
	color: white;
}
#export {
	width: 90%;
	margin: 0px 5% 0px 5%;
	text-align: center;
	border: none;
	border-radius: 15px;
	background-color: #0AE164;
	cursor: pointer;
}
h1 {
	text-align: center;
	font-weight: 700;
}
.page {
	position: relative;
	width: 80%;
	margin: 10px 9.557% 10px 9.557%;
	padding: 0px 15px 5px 15px;
	border: 0px none black;
	border-radius: 15px;
	box-shadow: 0px 0px 5px 0px black;
	background-color: #2C4FDB;
	color: white;
	text-shadow: 0px -1px 0 black, -1px 0px 0 black, 1px 0px 0 black, 0px 1px 0 black,
				 -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 1px 1px 0 black;
}
.expressionNoDelete > .removebutton {
	filter: grayscale(100);
}
.removebutton, .preview {
	vertical-align: middle;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.addbutton {
	width: 50px;
	height: 50px;
	margin: 0px 47% 0px 48%;
	padding-top: 5px;
	cursor: pointer;
}
.addbutton:hover {
	filter: brightness(.85);
} 
.addbutton:active {
	filter: brightness(.50);
}
.hint {
	font-size: 8pt;
}
input[readonly] {
	background-color: #afafaf;
	color: #313131;
}
#help {
	position: absolute;
	top: 1%;
	right: 1%;
}
#helpMenu {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	z-index: -50;
	overflow: auto;
}
.example {
	border: 1px solid rgb(22,39,201);
}
#helpMenu .page {
	text-shadow: none;
}
.highlight {
	color: gold;
	text-shadow: 0px -1px 0 black, -1px 0px 0 black, 1px 0px 0 black, 0px 1px 0 black,
				 -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 1px 1px 0 black;
}
#advanced {
	position: absolute;
	right: 1%;
}